
html,
body {
    margin: 0;
    padding: 0;
    height: 10%;
    font-family: Arial, sans-serif;
    background-color: #1c1b1b;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.topbar {
    
    height: 50px;
    background-color: #1c1b1b;
    border-right: 1px solid #2c2323;
    font-weight: bold;
    overflow-y: auto;
    padding: 10px;
}

.content {
    flex: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.channel-btn {
    display: flex;
    color: #e0e0e0;
    /* Color de texto */
    width: 125px;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    background-color: #1c1b1b;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.channel-btn:hover {
    background-color: #e0e0e0;
    color: #000;
    font-weight: bolder;

}

.channel-btn img {
    height: 20px;
    margin-right: 10px;
}

iframe {
    width: 100%;
    height: 90%;
    border: none;
}
